<a href="https://colab.research.google.com/github/afraniofilho/Curso-Python/blob/main/Ancine_Grendene.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/BilheteriaObrasSemana.csv', encoding='ISO-8859-1', sep=';', decimal=',')

In [7]:
df.head()

,TITULO_ORIGINAL,TITULO_BRASILEIRO,GENERO,PAIS_ORIGEM,CPB_ROE,COPIAS,SALAS,DT_INICIO_EXIBICAO,DT_FIM_EXIBICAO,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,REGISTRO_DISTRIBUIDORA,CNPJ_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
0,COLLEGE,COLEGIAIS EM APUROS,Ficção,Estados Unidos,E1600557700000,8,8,02/01/2009,08/01/2009,833,5325.00,ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
1,O ABORTO DOS OUTROS,NaN,Documentário,Brasil,B0800890900000,1,1,02/01/2009,08/01/2009,40,196.00,ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
2,ONDE ANDARÁ DULCE VEIGA?,NaN,Ficção,"Brasil, Chile",B0700801600000,1,1,02/01/2009,08/01/2009,66,210.00,ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
3,QUAND J'ETAIS CHANTEUR,QUANDO ESTOU AMANDO,Ficção,França,E1600545500000,1,1,02/01/2009,08/01/2009,103,842.92,ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
4,REC,REC,Ficção,Espanha,E1600619700000,2,2,02/01/2009,08/01/2009,252,1575.00,ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009

In [8]:
df.shape

(51176, 15)

In [9]:
df.columns

Index(['TITULO_ORIGINAL', 'TITULO_BRASILEIRO', 'GENERO', 'PAIS_ORIGEM',
       'CPB_ROE', 'COPIAS', 'SALAS', 'DT_INICIO_EXIBICAO', 'DT_FIM_EXIBICAO',
       'PUBLICO', 'RENDA', 'RAZAO_SOCIAL_DISTRIBUIDORA',
       'REGISTRO_DISTRIBUIDORA', 'CNPJ_DISTRIBUIDORA', 'ANO_CINEMATOGRAFICO'],
      dtype='object')

In [10]:
df.tail()

,TITULO_ORIGINAL,TITULO_BRASILEIRO,GENERO,PAIS_ORIGEM,CPB_ROE,COPIAS,SALAS,DT_INICIO_EXIBICAO,DT_FIM_EXIBICAO,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,REGISTRO_DISTRIBUIDORA,CNPJ_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
51171,BELLE DE JOUR,A BELA DA TARDE,Ficção,"França, Itália",E1700492900000,4,4,28/12/2017,03/01/2018,218,3058.00,ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51172,BLOW-UP,BLOW-UP - DEPOIS DAQUELE BEIJO,Ficção,"Estados Unidos, Itália, Reino Unido",E1600672700000,1,1,28/12/2017,03/01/2018,16,80.00,ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51173,COLO,COLO,Ficção,Portugal,E1700484800000,2,2,28/12/2017,03/01/2018,60,464.00,ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51174,"GRADUATE, THE",A PRIMEIRA NOITE DE UM HOMEM,Ficção,Estados Unidos,E1402602600000,1,1,28/12/2017,03/01/2018,12,96.00,ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51175,JEUNE FEMME,JOVEM MULHER,Ficção,França,E1700522000000,5,10,28/12/2017,03/01/2018,1094,15903.87,ZETA FILMES LTDA,22936,02.469.679/0001-98,2017

In [11]:
# Quais anos tiveram mais lançamentos?

In [12]:
df['ANO_CINEMATOGRAFICO'].value_counts()

2009    6205
2015    5950
2011    5786
2014    5785
2010    5685
2013    5521
2016    5513
2012    5495
2017    5236
Name: ANO_CINEMATOGRAFICO, dtype: int64

In [13]:
# Qual o filme com maior público semanal?

In [14]:
df['PUBLICO'].max()

4074628

In [17]:
df[df['PUBLICO'] == df['PUBLICO'].max()]

,TITULO_ORIGINAL,TITULO_BRASILEIRO,GENERO,PAIS_ORIGEM,CPB_ROE,COPIAS,SALAS,DT_INICIO_EXIBICAO,DT_FIM_EXIBICAO,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,REGISTRO_DISTRIBUIDORA,CNPJ_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
42176,CAPTAIN AMERICA: CIVIL WAR,CAPITÃO AMÉRICA: GUERRA CIVIL,Ficção,Estados Unidos,E1600129800000,0,1635,28/04/2016,04/05/2016,4074628,61046213.0,THE WALT DISNEY COMPANY (BRASIL) LTDA.,18398,73.042.962/0001-87,2016